absl-py==2.4.0
aiofile==3.11.1
aiohappyeyeballs==2.6.2
aiohttp==3.14.3
aiosignal==1.4.0
alembic==1.18.4
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.107.1
anyio==4.13.0
asgiref==3.11.1
ast_serialize==0.5.0
astroid==4.0.4
asttokens==3.0.1
astunparse==1.6.3
attrs==26.1.0
Authlib==1.7.2
autopep8==2.3.2
babel==2.18.0
backports.tarfile==1.2.0
backrefs==7.0
bandit==1.9.4
basedpyright==1.39.7
beartype==0.22.9
beautifulsoup4==4.15.0
black==26.5.1
build==1.5.0
cachetools==7.1.4
caio==0.9.25
certifi==2026.5.20
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.7
click==8.4.1
colorama==0.4.6
coverage==7.14.1
coverage-badge==1.1.2
cryptography==50.0.0
# cuda-bindings==13.3.1
cuda-pathfinder==1.5.5
cuda-toolkit==13.0.3
cyclopts==4.16.1
datasets==5.0.0
decopatch==1.4.10
decorator==5.3.1
dill==0.4.1
distlib==0.4.1
distro==1.9.0
Django==5.2.15
dnspython==2.8.0
docker==7.1.0
docstring_parser==0.18.0
docutils==0.23
dparse==0.6.4
EditorConfig==0.17.1
email-validator==2.3.0
entrypoints==0.4
exceptiongroup==1.3.1
execnet==2.1.2
executing==2.2.1
factory_boy==3.3.3
Faker==40.21.0
fancycompleter==0.11.1
fastapi==0.136.3
fastmcp==3.4.2
fastmcp-slim==3.4.2
filelock==3.29.1
flake8==7.3.0
flake8-docstrings==1.7.0
flatbuffers==25.12.19
frozenlist==1.8.0
fsspec==2026.4.0
gast==0.7.0
ghp-import==2.1.0
google-pasta==0.2.0
greenlet==3.5.1
griffelib==2.0.2
grpcio==1.81.0
h11==0.16.0
h5py==3.14.0
hf-xet==1.5.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
httpx-sse==0.4.3
huepy==1.2.1
huggingface_hub==1.18.0
id==1.6.1
identify==2.6.19
idna==3.18
importlib==1.0.4
importlib_metadata==9.0.0
inflection==0.5.1
iniconfig==2.3.0
ipdb==0.13.13
ipython==9.14.1
ipython_pygments_lexers==1.1.1
isort==8.0.1
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.5.0
jedi==0.20.0
jeepney==0.9.0
Jinja2==3.1.6
jiter==0.15.0
joblib==1.5.3
joserfc==1.7.0
jsbeautifier==1.15.4
jsonref==1.1.0
jsonschema==4.26.0
jsonschema-path==0.5.0
jsonschema-specifications==2025.9.1
keras==3.14.1
keyring==25.7.0
libclang==18.1.1
librt==0.11.0
livereload==2.7.1
makefun==1.16.0
Mako==1.3.12
Markdown==3.10.2
markdown-it-py==4.2.0
markdown2==2.5.5
MarkupSafe==3.0.3
marshmallow==4.3.0
matplotlib-inline==0.2.2
mccabe==0.7.0
mcp==1.29.0
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-autorefs==1.4.4
mkdocs-get-deps==0.2.2
mkdocs-material==9.7.6
mkdocs-material-extensions==1.3.1
mkdocs-mermaid2-plugin==1.2.3
mkdocstrings==1.0.4
mkdocstrings-python==2.0.4
ml_dtypes==0.5.4
more-itertools==11.1.0
mpmath==1.3.0
multidict==6.7.1
multiprocess==0.70.19
mypy==2.1.0
mypy_extensions==1.1.0
namex==0.1.0
networkx==3.6.1
nh3==0.3.5
nltk==3.10.0
nodeenv==1.10.0
nodejs-wheel-binaries==24.16.0
numpy==2.4.6
openai==2.41.0
openapi-pydantic==0.5.1
opentelemetry-api==1.42.1
opt_einsum==3.4.0
optree==0.19.1
packaging==26.2
paginate==0.5.7
pandas==3.0.3
parso==0.8.7
pathable==0.6.0
pathspec==1.1.1
pdbpp==0.12.1
pexpect==4.9.0
platformdirs==4.10.0
pluggy==1.6.0
pre_commit==4.6.0
prometheus_client==0.25.0
prompt_toolkit==3.0.52
propcache==0.5.2
protobuf==7.35.0
psutil==7.2.2
psycopg2-binary==2.9.12
ptyprocess==0.7.0
pure_eval==0.2.3
py-key-value-aio==0.4.5
pyarrow==24.0.0
pycodestyle==2.14.0
pycparser==3.0
pydantic==2.13.4
pydantic-settings==2.14.2
pydantic_core==2.46.4
pydocstyle==6.3.0
pyflakes==3.4.0
Pygments==2.20.0
PyJWT==2.13.0
pylint==4.0.5
pymdown-extensions==11.0.0
pyperclip==1.11.0
pyproject_hooks==1.2.0
pyrefly==1.0.0
pyrepl==0.11.4
pytest==9.0.3
pytest-asyncio==1.4.0
pytest-cases==3.10.1
pytest-cov==7.1.0
pytest-factoryboy==2.8.1
pytest-fixture-config==1.8.0
pytest-html==4.2.0
pytest-metadata==3.1.1
pytest-mock==3.15.1
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-discovery==1.4.0
python-dotenv==1.2.2
pytokens==0.4.1
PyYAML==6.0.3
pyyaml_env_tag==1.1
readme_renderer==44.0
redis==8.0.0
referencing==0.37.0
regex==2026.5.9
requests==2.34.2
requests-toolbelt==1.0.0
responses==0.26.1
rfc3986==2.0.0
rich==15.0.0
rich-rst==2.0.1
rpds-py==2026.5.1
ruamel.yaml==0.19.1
ruff==0.15.16
safety==3.8.1
safety-schemas==0.0.16
SecretStorage==3.5.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
snowballstemmer==3.1.1
soupsieve==2.8.4
SQLAlchemy==2.0.50
sqlparse==0.5.5
sse-starlette==3.4.4
starlette==1.3.1
stevedore==5.8.0
sympy==1.14.0
tenacity==9.1.4
tensorflow==2.21.0
termcolor==3.3.0
tomlkit==0.15.0
tornado==6.5.7
tqdm==4.68.1
traitlets==5.15.1
truststore==0.10.4
twine==6.2.0
ty==0.0.44
typer==0.25.1
types-PyYAML==6.0.12.20260518
typing-inspection==0.4.2
typing_extensions==4.15.0
uncalled-for==0.3.2
urllib3==2.7.0
uvloop==0.22.1
virtualenv==21.4.2
vite==1.5.2
watchdog==6.0.0
watchfiles==1.2.0
wcwidth==0.8.0
websockets==16.0
wrapt==2.2.1
xxhash==3.7.0
yapf==0.43.0
yarl==1.24.2
zipp==4.1.0
